@model Relync.Models.PropertyList
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .ui-autocomplete-loading {
        background: white url('/Images/ui-anim_basic_16x16.gif') right center no-repeat;
    }

    #searchBox {
        width: 25em;
    }
</style>




@{
    ViewBag.Title = "Home";

}

<div class="jumbotron landing">
    <div class="bgpic" style="padding:40px;">
        <p class="text-center"><b>Find a place to call home</b></p>
        <div class="tab-content text-center">
        
            <div id="tabr1" class="tab">
                @using (Html.BeginForm("Landing", "Property", FormMethod.Post, new { @encType = "multipart/form-data" }))
                {
                    <a href="~/Property/Map?pptyType=RENT" class="btn btn-embossed btn-warning btn-wide"><span class="fui-home"></span><span class="btn-tip"></span>Rent</a>
                    <a class="btn btn-embossed btn-warning btn-wide"><span class="fui-home"></span><span class="btn-tip"></span>Sale</a>


                }
            </div>
           

        </div>
    </div>
</div>
<div style="background-color:#EFF0F2;text-align:center;padding:24px;">
    <p>With a few clicks find access to the most detailed property directory</p>

</div>


<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <img src="~/Images/Icons/clipboard.svg" alt="Clipboard" class="tile-image big-illustration">
            <h3 class="tile-title">Professional Inspection</h3>
            <p>
                Inspected by trained valuers
            </p>
            
        </div>
        </div>
    <div class="col-md-4">
        <div class="tile">            
            <img src="~/Images/Icons/VIDEO-icon.png" alt="Vid" class="tile-image big-illustration">
            <h3 class="tile-title">Video Tour</h3>
             <p>Watc a tour of the property.</p>
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="tile">
            <img src="~/Images/Icons/map.svg" alt="Map" class="tile-image big-illustration">
            <h3 class="tile-title">Site Map</h3>
            <p>View location maps and floor plans.</p>
            
        </div>
    </div>

   
</div>
<div class="tagsinput-primary" style="font-weight:bolder;text-align:center;padding:24px;">
    <p>MORE THAN JUST PROPERTY</p>

</div>
